extend layout

block content
    .content-container
        h1 #{title}
        table.inbox
            tr
                th From
                th Date
                th Title
            each message in messages
                tr
                    if message.read
                        td 
                            a(href="/message/message?id=#{message.id}") #{message.from}
                        td #{message.date.getFullYear()} #{message.date.getMonth()} #{message.date.getDay()} #{message.date.getHours()}:#{message.date.getMinutes()}
                        td #{message.title}
                    else
                        td 
                            a(href="/message/message?id=#{message.id}") 
                                <b>#{message.from}</b>
                        td <b>#{message.date.getFullYear()} #{message.date.getMonth()} #{message.date.getDay()} #{message.date.getHours()}:#{message.date.getMinutes()}</b>
                        td <b>#{message.title}</b>

            
